html{
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: sticky;
    top: 0;
}

h2 {
    margin-left: 15px;
    color: #F1F5F9;
    font-size: 20px;
}

nav {
    background-color: #02021a;
    font-size: 16px;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
}
.menu_navegacion {
    display: flex;

}

ul {
    display: flex;
    gap: 30px;
    margin-right: 15px;
}

li {
    list-style: none;
    font-weight: 600;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    transition: 1s;
}

a:hover {
    color: #F1F5F9;
}


#hero {
    background-color: #02021a;
    padding: 100px
}

.hero_title {
    text-align: center;
    color: #F1F5F9;
    font-size: 110px;
}


.color_text {
    background: linear-gradient(90deg, #6A65FF, #D076FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.p_hero {
    text-align: center;
    color: #90A1B9;
    font-size: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.proyecto {
    border-radius: 25px;
    padding: 15px;
    background-color: #4f46e5;
    border-color: #4f46e5;
    color: #F1F5F9;
    font-weight: 500;
    padding: 25px;
    font-size: 18px;
}

.trabajo {
    border-radius: 25px;
    padding: 15px;
    background-color: #101828;
    border-color: #F1F5F9;
    color: #F1F5F9;
    padding: 25px;
    font-size: 18px;
}

.trabajo:hover {
    background-color: #1E2939;
}



#Servicio {
    background-color: #081121;
    padding: 60px;
}

.serve_title {
    color: #F1F5F9;
    text-align: center;
    font-size: 70px;
}

.sub-title {
    color: #F1F5F9;
    font-size: 22px;
}
.p_serve {
    color: #90A1B9;
    font-size: 17px;
   
}

.p_sub_serve {
    color: #90A1B9;
    text-align: center;
     font-size: 30px;
}

.contenedor_servicios {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px;
    margin-left: 200px;
}



#desarrollo_web {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 250px;
    padding: 15px;
    border-radius: 15px;
}

#Diseño_UX-UI {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 250px;
    padding: 15px;
    border-radius: 15px;
}

#Diseño_de_Juegos {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 250px;
    padding: 15px;
    border-radius: 15px;
}

#Desarrollo_Movil {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 250px;
    padding: 15px;
    border-radius: 15px;
}

#Optmizacion_SEO {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 400px;
    height: 250px;
    padding: 15px;
    border-radius: 15px;
}

#Mantenimiento_Soporte {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.148);
    width: 400px;
    height: 250px;
    padding: 15px;
    border-radius: 15px;
}

.fa-code {
    background-color: rgb(53, 76, 147);
    width: 50px;
    padding: 20px;
    border-radius: 15px;
    color: #00319c;
}

.fa-table-columns {
    background-color: rgb(200, 0, 255);
    width: 50px;
    padding: 20px;
    border-radius: 15px;
    color: #bc90c8;
}

.fa-gamepad {
    background-color: rgb(121, 168, 122);
    width: 50px;
    padding: 20px;
    border-radius: 15px;
    color: #00f642;
}


.fa-mobile {
    background-color: rgb(176, 111, 169);
    width: 50px;
    padding: 20px;
    border-radius: 15px;
    color: #f600b9;
}


.fa-magnifying-glass {
    background-color: rgb(237, 245, 200);
    width: 50px;
    padding: 20px;
    border-radius: 15px;
    color: #d5f600;
}

.fa-bolt-lightning {
    background-color: rgb(177, 181, 221);
    width: 50px;
    padding: 20px;
    border-radius: 15px;
    color: #0019f6;
}


#Portafolio {
    background-color: #02021a;
    padding: 160px
}

.title_portafolio{
    text-align: center;
    font-size: 70px;
}

.p_portafolio {
    color: #90A1B9;
    text-align: center;
    font-size: 30px;
}

.contenedor_portafolio{
    display: flex;
    padding: 10px;
    gap: 50px;
    justify-content: center;
    position: relative;
}

.app{
    width: 400px;
    height: 350px;
    border-radius: 15px;
    transition:transform 0.5s ease;
}
.app:hover{
    transform: scale(1.1);
}

.game{
    width: 400px;
    height: 350px;
    border-radius: 15px;
    transition:transform 0.5s ease;
}

.game:hover{
    transform: scale(1.1);
}

.page_web{
    width: 400px;
    height: 350px;
    border-radius: 15px;
     transition:transform 0.5s ease;
}

.page_web:hover{
    transform: scale(1.1);
}


#Contactanos {
    background-color: #081121;
    padding: 100px;
}


.contact {
    color: #F1F5F9;
    margin-left: 15px;
}

.title-contact{
    font-size: 35px;
}

.p-contact{
    font-size: 20px;
}

#Email{
    font-size: 20px;
    display: flex;
    gap: 10px;
}

#Telefono{
    font-size: 20px;
    display: flex;
    gap: 10px;
}

#Oficina{
    font-size: 20px;
    display: flex;
    gap: 10px;
}

.title-formulario {
    color: #F1F5F9;
    text-align: center;
    font-size: 30px;
}

.Formulario {
    background-color: #010a59;
    display: block;
    padding: 35px;
    border-radius: 20px;
    width: 500px;
    height: 520px;
    margin-left: 1050px;
    margin-bottom: 20px;
    margin-top: -450px;
    /* Ajusta este valor para subirlo más o menos */
}

.Formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
}

label{
    color: #90A1B9;
}

input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #0019f6;
    width: 200px
}

select{
    padding: 12px;
    border-radius:10px;
}

textarea{
    padding: 20px;
    border-radius: 10px;
     border: 1px solid #0019f6;
}

button{
    background-color: #4f46e5;
    color: #F1F5F9;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.fila-inputs {
    display: flex;
    gap: 15px;
    width: 100%;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

h5 {
    color: #F1F5F9;
}

#Email {
    color: #90A1B9;
}

#Telefono {
    color: #90A1B9;
}

#Oficina {
    color: #90A1B9;
}


footer {
    background-color: #02021a;
    padding: 10px;
}

p {
    color: #90A1B9;
}

.p-footer {
    color: #90A1B9;
    font-size: 18px;
}

.contenedor-footer {
    display: flex;
    gap: 50px;
    margin-left: 35%;
    margin-top: -10%;
    padding: 30px;
}

.footer{
    width: 500px;
    margin-left: 60px;
}
#servicio{
    width: 400px;
    font-size: 18px;
    
}

#empresa{
    width: 400px;
    font-size: 18px;
}

#legal{
    width: 400px;
    font-size: 18px;
}

#copy{
    display: flex;
    width: 400px;
    margin-top: 220px;
   margin-left: 40%;
   font-size: 18px;
}

.icons{
    margin-left: 80px;
    padding: 20px;
}

.fa-x{
    color: #F1F5F9;
    font-size: 30px;
}

.fa-instagram{
    color: #F1F5F9;
    font-size: 30px;
}

.fa-github{
    color: #F1F5F9;
    font-size: 30px;
}

.fa-linkedin{
    color: #F1F5F9;
    font-size: 30px;
}